<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>用户登录</title>
</head>
<body>
<div>
    <form action="/check" method="get">
        用户名：
        <input type="text" id="username" name="username">
        <input type="submit" value="进入聊天室">
    </form>
</div>

</body>
</html>